[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cassandra-driver = "*"
flask = "*"
flask-cors = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
